<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/styles/base_generic.css' %}"/>
    
    <script src="{% static 'website/scripts/globalScripts.js' %}"></script>
    
    
    <title>{% block title %}Bitan{% endblock %}</title>

</head>
<body>
    {% block body %}My amazing site{% endblock %}
</body>
</html>